.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    max-width: 180px;
    min-height: 25px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.32px;
    user-select: none;
    white-space: nowrap;

    &:hover {
        opacity: 0.9;
    }
}

.span {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    font-family: 'Inter';
    min-width: 31px;
}

.active {
    border-bottom: 3px solid #5f4c49 !important;
}

.active2 {
    border-bottom: 5px #ab8a37 solid !important;
    color: #ab8a37 !important;
}

.bold {
    color: #3a4980 !important;
    font-family: 'Inter' !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
}

.borderBottom {
    border-bottom: 1px solid grey !important;
}
